[submodule "src/pysc2"]
	path = src/pysc2
	url = https://github.com/google-deepmind/pysc2
[submodule "src/s2client-proto"]
	path = src/s2client-proto
	url = https://github.com/Blizzard/s2client-proto.git
